<!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
      
        <a class="navbar-brand" href="#">Trading Partner Management</a>
      </div>
      
       
        <div class="nav navbar-nav navbar-right">
          
          <button type="button" class="btn btn-error" (click)="onClearStorage()"><span class="glyphicon glyphicon-log-in"></span>Logout
        </button>
        </div>
      </div>
    
  </nav>   -->

  <div class="header">
      <div class="menu_trigger"> 
        <span class="line1"></span><span></span><span class="line3"></span> 
      </div>
      <div class="headerContent">
        <div class="logos">
          <a href="javascript:;"><img src="../assets/images/cLogo.png"></a>
          <span class="vDivider"></span>
          <a href="/" class="pLogo">TPM</a>
        </div>
        <ul class="headerRightNav">
          <li><a href="javascript:;"><img src="../assets/images/btn_notification.png"></a></li>
          <li><a (click)="logout()"><img src="../assets/images/profile-pic.png"></a></li>
        </ul>
      </div>
    </div>