

<div class="side_nav clearfix">
		<ul class="navigation clearfix">
			<li class="active"> <a href="/dashboard"> <span class="menu_icon_left"> <img src="../assets/images/icn_dashboard.png"> </span> <span class="menu_name">Dashboard </span> </a></li>
			<li> <a href="javascript:void(0);"> <span class="menu_icon_left"> <img src="../assets/images/icn_manage.png"> <span class="menu_name">Manage </span> </span></a></li>
			<li> <a href="javascript:void(0);">  <span class="menu_icon_left"> <img src="../assets/images/icn_company.png"> <span class="menu_name">Company </span> </span></a></li>
			<li> <a href="/dashboard/userdetails"> <span class="menu_icon_left"> <img src="../assets/images/icn_build.png"> </span> <span class="menu_name">Build </span> </a></li>
			
		</ul>
  </div>

  
  